<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">

<polymer-element name="icon-radio-button" extends="paper-radio-button" attributes="value">
    <template>
        <style>
            :host{
                width:80px;
            }
            :host::shadow #radioContainer{
                float:left;
                top:16px;
                margin-right: 5px;
            }
        </style>
        <shadow class="test"></shadow><content select="img"></content>
    </template>
    <script>
        Polymer('icon-radio-button', {getValue:function(){return this.value}});
    </script>
</polymer-element>