<core-scaffold>

    <core-header-panel navigation="" flex="" mode="middle">
        <core-toolbar class="dark-theme">Teams</core-toolbar>
        <core-menu theme="core-light-theme">
            <core-item icon="settings" label="item1" horizontal="" center="" layout=""></core-item>
            <core-item icon="settings" label="item2" horizontal="" center="" layout=""></core-item>
        </core-menu>
    </core-header-panel>

    <div tool="title" flex>
        Title
    </div>
    <div tool="addTask">
        <core-icon-button icon="add"></core-icon-button>
    </div>
    <div>
        <paper-tabs selected="0" noink="" role="tablist">
            <paper-tab role="tab" class="core-selected" active="">TODO</paper-tab>
            <paper-tab role="tab" class="">Doing</paper-tab>
            <paper-tab role="tab">Done</paper-tab>
        </paper-tabs>
    </div>
    <div>
        <story-task>
            <h2>test task</h2>
            <h3>hugh</h3>
        </story-task>
    </div>
</core-scaffold>